<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    <meta property="og:image" content="<%- url %>/iecs.png" />
  </head>
  <body>
    <img src="<%- url %>/iecs.png" alt="FCU IECS"><br/>
    Redirecting...
  </body>
  <script type="text/javascript">

  </script>
</html>
